<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="modelMatchServiceImpl" class="com.xy.fedex.facade.service.meta.match.ModelMatchServiceImpl">
        <property name="filters">
            <list>
                <bean class="com.xy.fedex.facade.service.meta.match.filter.impl.ModelDimReWriter"/>
                <bean class="com.xy.fedex.facade.service.meta.match.filter.impl.ModelForceDimReWriter"/>
            </list>
        </property>
    </bean>
</beans>