<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.fedex.catalog.dao.AppColumnDao" >
  <resultMap id="BaseResultMap" type="com.xy.fedex.catalog.po.AppColumnPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="app_id" property="appId" jdbcType="BIGINT" />
    <result column="column_code" property="columnCode" jdbcType="VARCHAR" />
    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
    <result column="column_type" property="columnType" jdbcType="INTEGER" />
    <result column="column_id" property="columnId" jdbcType="BIGINT" />
    <result column="column_format" property="columnFormat" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_id, column_code, column_name, column_type, column_id, column_format, status, create_time,
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from app_column
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_column
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xy.fedex.catalog.po.AppColumnPO" >
    insert into app_column (id, app_id, column_name, 
      column_type, column_id, column_format, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT}, #{columnName,jdbcType=VARCHAR}, 
      #{columnType,jdbcType=INTEGER}, #{columnId,jdbcType=BIGINT}, #{columnFormat,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xy.fedex.catalog.po.AppColumnPO" >
    insert into app_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="columnCode != null" >
        column_code,
      </if>
      <if test="columnName != null" >
        column_name,
      </if>
      <if test="columnType != null" >
        column_type,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="columnFormat != null" >
        column_format,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null" >
        #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null" >
        #{columnType,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=BIGINT},
      </if>
      <if test="columnFormat != null" >
        #{columnFormat,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xy.fedex.catalog.po.AppColumnPO" >
    update app_column
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=BIGINT},
      </if>
      <if test="columnCode != null" >
        column_code = #{columnCode,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null" >
        column_type = #{columnType,jdbcType=INTEGER},
      </if>
      <if test="columnId != null" >
        column_id = #{columnId,jdbcType=BIGINT},
      </if>
      <if test="columnFormat != null" >
        column_format = #{columnFormat,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xy.fedex.catalog.po.AppColumnPO" >
    update app_column
    set app_id = #{appId,jdbcType=BIGINT},
      column_name = #{columnName,jdbcType=VARCHAR},
      column_type = #{columnType,jdbcType=INTEGER},
      column_id = #{columnId,jdbcType=BIGINT},
      column_format = #{columnFormat,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteAppColumns" parameterType="java.lang.Long" >
    delete from app_column
    where app_id = #{appId,jdbcType=BIGINT}
  </delete>

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into app_column (app_id,column_code,column_name,column_type,column_id,column_format)
    values
    <foreach collection ="list" item="column" index= "index" separator =",">
      (
      #{column.appId},
      #{column.columnCode},
      #{column.columnName},
      #{column.columnType},
      #{column.columnId},
      #{column.columnFormat}
      )
    </foreach>
  </insert>

  <select id="selectByAppId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from app_column
    where app_id = #{appId,jdbcType=BIGINT}
  </select>
</mapper>