<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.fedex.catalog.dao.DimModelDao" >
  <resultMap id="BaseResultMap" type="com.xy.fedex.catalog.po.DimModelPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="model_id" property="modelId" jdbcType="BIGINT" />
    <result column="dim_id" property="dimId" jdbcType="BIGINT" />
    <result column="formula" property="formula" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, model_id, dim_id, formula, status, create_time, update_time, creator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dim_model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dim_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xy.fedex.catalog.po.DimModelPO" >
    insert into dim_model (id, model_id, dim_id, 
      formula, status, create_time, 
      update_time, creator)
    values (#{id,jdbcType=BIGINT}, #{modelId,jdbcType=BIGINT}, #{dimId,jdbcType=BIGINT}, 
      #{formula,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xy.fedex.catalog.po.DimModelPO" >
    insert into dim_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="dimId != null" >
        dim_id,
      </if>
      <if test="formula != null" >
        formula,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=BIGINT},
      </if>
      <if test="dimId != null" >
        #{dimId,jdbcType=BIGINT},
      </if>
      <if test="formula != null" >
        #{formula,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xy.fedex.catalog.po.DimModelPO" >
    update dim_model
    <set >
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=BIGINT},
      </if>
      <if test="dimId != null" >
        dim_id = #{dimId,jdbcType=BIGINT},
      </if>
      <if test="formula != null" >
        formula = #{formula,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xy.fedex.catalog.po.DimModelPO" >
    update dim_model
    set model_id = #{modelId,jdbcType=BIGINT},
      dim_id = #{dimId,jdbcType=BIGINT},
      formula = #{formula,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into dim_model (
        model_id,
        dim_id,
        formula,
        creator)
    values
    <foreach collection ="list" item="dimModel" index= "index" separator =",">
      (
      #{dimModel.modelId},
      #{dimModel.dimId},
      #{dimModel.formula},
      #{dimModel.creator}
      )
    </foreach>
  </insert>

  <select id="selectByModelIds" resultType="com.xy.fedex.catalog.po.DimPO">
    select distinct
        t1.dim_id as dimId,
        t2.dim_code as dimCode,
        t2.dim_name as dimName,
        t2.dim_comment as dimComment,
        t2.dim_type as dimType
    from dim_model t1 left join dim t2 on t1.dim_id = t2.id
    where t1.model_id in
    <foreach collection="modelIds" item="modelId" open="(" close=")" separator=",">
      #{modelId}
    </foreach>
    and t1.status = 1 and t2.status = 1
  </select>

  <select id="selectByModelId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
    from dim_model
    where model_id = #{modelId,jdbcType=BIGINT}
    and status = 1
  </select>

  <select id="selectDimDetailByModelId" resultType="com.xy.fedex.catalog.po.DimModelDetailPO" parameterType="java.lang.Long" >
    select
        t1.id as dimModelId,
        t1.dim_id as dimId,
        t1.model_id as modelId,
        t1.formula as formula,
        t2.dim_code as dimCode,
        t2.dim_name as dimName,
        t2.dim_comment as dimComment
    from dim_model t1 left join dim t2 on t1.dim_id = t2.id
    where t1.status = 1 and t2.status = 1 and t1.model_id = #{modelId,jdbcType=BIGINT}
  </select>

  <select id="selectByAppDimId" resultType="com.xy.fedex.catalog.po.DimModelDetailPO">
    select
      t1.id as dimModelId,
      t1.model_id as modelId,
      t1.dim_id as dimId,
      t1.formula,
      t3.dim_code as dimCode,
      t3.dim_name as dimName,
      t3.dim_comment as dimComment
    from dim_model t1 left join app_model_relation t2 on t1.model_id = t2.model_id
                      left join dim t3 on t1.dim_id = t3.id
    where t2.status = 1 and t1.status = 1 and t3.status = 1 and t2.app_id = #{appId,jdbcType=BIGINT}
      and t1.dim_id = #{dimId,jdbcType=BIGINT}
  </select>

  <select id="selectDimModels" resultMap="BaseResultMap" parameterType="com.xy.fedex.catalog.dto.DimModelRequest" >
    select
    <include refid="Base_Column_List" />
    from dim_model
    where model_id in
    <foreach collection="modelIds" item="modelId" open="(" close=")" separator=",">
      #{modelId}
    </foreach>
    and status = 1
    <if test="dimId != null" >
      and dim_id = #{dimId,jdbcType=BIGINT}
    </if>
  </select>
</mapper>