<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.fedex.catalog.dao.DimDao" >
  <resultMap id="BaseResultMap" type="com.xy.fedex.catalog.po.DimPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dim_code" property="dimCode" jdbcType="VARCHAR" />
    <result column="dim_name" property="dimName" jdbcType="VARCHAR" />
    <result column="dim_type" property="dimType" jdbcType="INTEGER" />
    <result column="biz_line_id" property="bizLineId" jdbcType="BIGINT" />
    <result column="dim_comment" property="dimComment" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dim_code, dim_name, dim_type,biz_line_id, dim_comment, status, create_time, update_time,
    creator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dim
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dim
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xy.fedex.catalog.po.DimPO" >
    insert into dim (id, dim_code,
      dim_name, dim_type,biz_line_id, dim_comment,
      status, create_time, update_time, 
      creator)
    values (#{id,jdbcType=BIGINT}, #{dimCode,jdbcType=VARCHAR},
      #{dimName,jdbcType=VARCHAR}, #{dimType,jdbcType=INTEGER},#{bizLineId,jdbcType=BIGINT}, #{dimComment,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xy.fedex.catalog.po.DimPO" >
    insert into dim
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dimCode != null" >
        dim_code,
      </if>
      <if test="dimName != null" >
        dim_name,
      </if>
      <if test="dimType != null" >
        dim_type,
      </if>
      <if test="bizLineId != null" >
        biz_line_id,
      </if>
      <if test="dimComment != null" >
        dim_comment,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dimCode != null" >
        #{dimCode,jdbcType=BIGINT},
      </if>
      <if test="dimName != null" >
        #{dimName,jdbcType=VARCHAR},
      </if>
      <if test="dimType != null" >
        #{dimType,jdbcType=INTEGER},
      </if>
      <if test="bizLineId != null" >
        #{bizLineId,jdbcType=BIGINT},
      </if>
      <if test="dimComment != null" >
        #{dimComment,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xy.fedex.catalog.po.DimPO" >
    update dim
    <set >
      <if test="dimCode != null" >
        dim_code = #{dimCode,jdbcType=BIGINT},
      </if>
      <if test="dimName != null" >
        dim_name = #{dimName,jdbcType=VARCHAR},
      </if>
      <if test="dimType != null" >
        dim_type = #{dimType,jdbcType=INTEGER},
      </if>
      <if test="bizLineId != null" >
        biz_line_id = #{bizLineId,jdbcType=INTEGER},
      </if>
      <if test="dimComment != null" >
        dim_comment = #{dimComment,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xy.fedex.catalog.po.DimPO" >
    update dim
    set
      dim_code = #{dimCode,jdbcType=BIGINT},
      dim_name = #{dimName,jdbcType=VARCHAR},
      dim_type = #{dimType,jdbcType=INTEGER},
      biz_line_id = #{bizLineId,jdbcType=BIGINT},
      dim_comment = #{dimComment,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByDimCode" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from dim
    where biz_line_id = #{bizLineId,jdbcType=BIGINT} and dim_code = #{dimCode,jdbcType=VARCHAR}
  </select>
</mapper>