<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.fedex.catalog.dao.MetricModelDao" >
  <resultMap id="BaseResultMap" type="com.xy.fedex.catalog.po.MetricModelPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="metric_id" property="metricId" jdbcType="BIGINT" />
    <result column="metric_type" property="metricType" jdbcType="INTEGER" />
    <result column="formula" property="formula" jdbcType="VARCHAR" />
    <result column="advance_calculate" property="advanceCalculate" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xy.fedex.catalog.po.MetricModelPO" extends="BaseResultMap" >
    <result column="model_id_array" property="modelIdArray" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, model_id, metric_id, metric_type, formula, advance_calculate, status, create_time, 
    update_time, creator
  </sql>
  <sql id="Blob_Column_List" >
    model_id_array
  </sql>
  <select id="selectByPrimaryKey" resultType="com.xy.fedex.catalog.po.MetricModelPO" parameterType="java.lang.Long" >
    select
      t1.id,
      t1.model_id as modelId,
      t1.metric_id as metricId,
      t1.metric_type as metricType,
      t1.formula,
      t1.advance_calculate as advanceCalculate,
      t1.status,
      t1.create_time as createTime,
      t1.update_time as updateTime,
      t1.creator,
      t1.model_id_array as modelIdArray,
      t2.metric_code as metricCode
    from metric_model t1 left join metric t2 on t1.metric_id = t2.id
    where t1.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from metric_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xy.fedex.catalog.po.MetricModelPO" >
    insert into metric_model (id, model_id, metric_id, 
      metric_type, formula, advance_calculate, 
      status, create_time, update_time, 
      creator, model_id_array)
    values (#{id,jdbcType=BIGINT}, #{modelId,jdbcType=VARCHAR}, #{metricId,jdbcType=BIGINT}, 
      #{metricType,jdbcType=INTEGER}, #{formula,jdbcType=VARCHAR}, #{advanceCalculate,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{modelIdArray,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.xy.fedex.catalog.po.MetricModelPO" >
    insert into metric_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="metricId != null" >
        metric_id,
      </if>
      <if test="metricType != null" >
        metric_type,
      </if>
      <if test="formula != null" >
        formula,
      </if>
      <if test="advanceCalculate != null" >
        advance_calculate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modelIdArray != null" >
        model_id_array,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="metricId != null" >
        #{metricId,jdbcType=BIGINT},
      </if>
      <if test="metricType != null" >
        #{metricType,jdbcType=INTEGER},
      </if>
      <if test="formula != null" >
        #{formula,jdbcType=VARCHAR},
      </if>
      <if test="advanceCalculate != null" >
        #{advanceCalculate,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modelIdArray != null" >
        #{modelIdArray,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xy.fedex.catalog.po.MetricModelPO" >
    update metric_model
    <set >
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="metricId != null" >
        metric_id = #{metricId,jdbcType=BIGINT},
      </if>
      <if test="metricType != null" >
        metric_type = #{metricType,jdbcType=INTEGER},
      </if>
      <if test="formula != null" >
        formula = #{formula,jdbcType=VARCHAR},
      </if>
      <if test="advanceCalculate != null" >
        advance_calculate = #{advanceCalculate,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modelIdArray != null" >
        model_id_array = #{modelIdArray,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xy.fedex.catalog.po.MetricModelPO" >
    update metric_model
    set model_id = #{modelId,jdbcType=VARCHAR},
      metric_id = #{metricId,jdbcType=BIGINT},
      metric_type = #{metricType,jdbcType=INTEGER},
      formula = #{formula,jdbcType=VARCHAR},
      advance_calculate = #{advanceCalculate,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      model_id_array = #{modelIdArray,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xy.fedex.catalog.po.MetricModelPO" >
    update metric_model
    set model_id = #{modelId,jdbcType=VARCHAR},
      metric_id = #{metricId,jdbcType=BIGINT},
      metric_type = #{metricType,jdbcType=INTEGER},
      formula = #{formula,jdbcType=VARCHAR},
      advance_calculate = #{advanceCalculate,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectMetricModels" resultType="com.xy.fedex.catalog.po.MetricModelPO" parameterType="com.xy.fedex.catalog.dto.MetricModelRequest" >
    select
      t1.id,
      t1.model_id as modelId,
      t1.metric_id as metricId,
      t1.metric_type as metricType,
      t1.formula,
      t1.advance_calculate as advanceCalculate,
      t1.status,
      t1.metric_type as metricType,
      t1.create_time as createTime,
      t1.update_time as updateTime,
      t1.creator,
      t1.model_id_array as modelIdArray,
      t2.metric_code as metricCode
    from metric_model t1 left join metric t2 on t1.metric_id = t2.id
    where json_contains(#{modelIdArray,jdbcType=VARCHAR},t1.model_id_array) and t1.status = 1
    <if test="metricId != null" >
        and t1.metric_id = #{metricId,jdbcType=BIGINT}
    </if>
    order by t1.id desc
    <if test="limit != null and offset != null" >
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </if>
    <if test="limit != null and offset == null" >
      limit #{limit,jdbcType=INTEGER}
    </if>
  </select>

  <select id="getMetricModelCnt" resultMap="ResultMapWithBLOBs" parameterType="com.xy.fedex.catalog.dto.MetricModelRequest" >
    select count(*) from metric_model
    where json_contains(#{modelIdArray,jdbcType=VARCHAR},model_id_array) and status = 1
    <if test="metricId != null" >
      and metric_id = #{metricId,jdbcType=BIGINT}
    </if>
  </select>

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into metric_model (model_id_array, metric_id,metric_type, formula, advance_calculate,creator)
    values
    <foreach collection ="list" item="metric" index= "index" separator =",">
      (
      #{metric.modelIdArray},
      #{metric.metricId},
      #{metric.metricType},
      #{metric.formula},
      #{metric.advanceCalculate},
      #{metric.creator}
      )
    </foreach>
  </insert>

  <delete id="deleteByModelId" parameterType="java.lang.String" >
    delete from metric_model
    where model_id = #{modelId,jdbcType=VARCHAR}
  </delete>

</mapper>