<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.fedex.catalog.dao.ModelDao" >
  <resultMap id="BaseResultMap" type="com.xy.fedex.catalog.po.ModelPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="model_code" property="modelCode" jdbcType="VARCHAR" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="model_comment" property="modelComment" jdbcType="VARCHAR" />
    <result column="dsn_code" property="dsnCode" jdbcType="VARCHAR" />
    <result column="table_source" property="tableSource" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, model_code, model_name, model_comment, dsn_code, table_source, status,
    create_time, update_time, creator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xy.fedex.catalog.po.ModelPO" >
    insert into model (id, model_code, model_name, 
      model_comment, dsn_code, table_source, status, create_time,
      update_time, creator)
    values (#{id,jdbcType=BIGINT}, #{modelCode,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, 
      #{modelComment,jdbcType=VARCHAR}, #{dsnCode,jdbcType=VARCHAR}, #{tableSource,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.xy.fedex.catalog.po.ModelPO" >
    insert into model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="modelCode != null" >
        model_code,
      </if>
      <if test="modelName != null" >
        model_name,
      </if>
      <if test="modelComment != null" >
        model_comment,
      </if>
      <if test="dsnCode != null" >
        dsn_code,
      </if>
      <if test="tableSource != null" >
        table_source,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="modelCode != null" >
        #{modelCode,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null" >
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelComment != null" >
        #{modelComment,jdbcType=VARCHAR},
      </if>
      <if test="dsnCode != null" >
        #{dsnCode,jdbcType=VARCHAR},
      </if>
      <if test="tableSource != null" >
        #{tableSource,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xy.fedex.catalog.po.ModelPO" >
    update model
    <set >
      <if test="modelCode != null" >
        model_code = #{modelCode,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null" >
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelComment != null" >
        model_comment = #{modelComment,jdbcType=VARCHAR},
      </if>
      <if test="dsnCode != null" >
        dsn_code = #{dsnCode,jdbcType=VARCHAR},
      </if>
      <if test="tableSource != null" >
        table_source = #{tableSource,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xy.fedex.catalog.po.ModelPO" >
    update model
    set model_code = #{modelCode,jdbcType=VARCHAR},
      model_name = #{modelName,jdbcType=VARCHAR},
      model_comment = #{modelComment,jdbcType=VARCHAR},
      dsn_code = #{dsnCode,jdbcType=VARCHAR},
      table_source = #{tableSource,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByModelCodes" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from model
    where model_code in
    <foreach collection="modelCodes" item="modelCode" separator="," open="(" close=")">
      #{modelCode}
    </foreach>
  </select>

  <select id="selectByModelIds" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from model
    where model_id in
    <foreach collection="modelIds" item="modelId" separator="," open="(" close=")">
      #{modelId}
    </foreach>
  </select>

  <select id="selectByModelCode" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from model
    where model_code = #{modelCode,jdbcType=VARCHAR}
  </select>

</mapper>